:root {
  --date-x-coordinate: 570px;
  --student_name-x-coordinate: calc(var(--certificate_id-x-coordinate) - 2px);
}
body {
  font-family: 'Montserrat', sans-serif;
  height: 220mm !important;
  width: 317mm !important;
  margin: 0;
  color: #3c3c3b;
}

p {
  margin: 0;
  padding: 0;
}

.certificate {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.img {
  height: 100%;
  width: 100%;
}

.relative {
  position: relative;
  top: -656px;
  left: 218px;
}

.date {
  position: absolute;
  font-size: 1.3rem;
  top: 190px;
  left: var(--date-x-coordinate);
}
.date-itp {
  position: absolute;
  font-size: 1.35rem;
  top: 186px;
  left: 530px;
}

#certificate_id {
  font-weight: 700;
}

.student-name {
  width: 50rem;
  font-size: 3rem;
  font-weight: 500;
  color: #1a9eda;
  position: absolute;
  top: 330px;
  left: var(--date-x-coordinate);
  line-height: 2.7rem;
}

#name,
#surname {
  position: relative;
  left: -3px;
}
.student-name-itp {
  width: 30rem;
  font-size: 4rem;
  color: #1a9eda;
  position: absolute;
  top: 372px;
  left: 118px;
}

.finished-course {
  color: #3c3c3b;
  font-size: 1.35rem;
}

[lang='en'] .finished-course {
  position: relative;
  bottom: 130px;
}

.programm {
  width: 29rem;
  color: black;
  font-size: 2.2rem;
  font-weight: 600;
  position: absolute;
  bottom: 250px;
  left: var(--date-x-coordinate);
}

#programm__placeholder {
  font-weight: 500;
  font-size: 1.6rem;
  color: #3c3c3b;
}

.instructor {
  position: absolute;
  top: 725.5px;
  left: 346px;
}
.instructor-itp {
  position: absolute;
  top: 729px;
  left: 920px;
}

.signature {
  height: 10rem;
}

.instructor-signature {
  color: #3c3c3b;
  font-weight: 700;
  font-size: 1.3rem;
  width: 30rem;
}
.instructor-signature-itp {
  color: #3c3c3b;
  font-weight: 500;
  font-size: 1.1rem;
  width: 30rem;
}
