body {
  font-family: "Montserrat", sans-serif;
  height: 220mm !important;
  width: 317mm !important;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

.certificate {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.img {
  height: 100%;
  width: 100%;
}

.relative {
  position: relative;
  top: -656px;
  left: 218px;
}

.date {
  position: absolute;
  font-size: 1.3rem;
  top: 80px;
  left: 530px;
}
.date-itp {
  position: absolute;
  font-size: 1.35rem;
  top: 186px;
  left: 530px;
}

#certificate_id {
  font-weight: 700;
  color: #454544;
}

.student-name {
  width: 50rem;
  font-size: 3rem;
  font-weight: 500;
  color: #009fe3;
  position: absolute;
  top: 325px;
  left: 530px;
}
.student-name-itp {
  width: 30rem;
  font-size: 4rem;
  color: #009fe3;
  position: absolute;
  top: 372px;
  left: 118px;
}

.finished-course {
  color: #484848;
  font-size: 1.35rem;
}

.programm {
  width: 36rem;
  color: black;
  font-size: 2.2rem;
  font-weight: 600;
  position: relative;
  top: -350px;
  left: 223px;
}

.instructor {
  position: absolute;
  top: 708px;
  left: 345px;
}
.instructor-itp {
  position: absolute;
  top: 729px;
  left: 920px;
}

.signature {
  height: 10rem;
}

.instructor-signature {
  color: #454544;
  font-weight: 700;
  font-size: 1.3rem;
  width: 30rem;
}
.instructor-signature-itp {
  color: #454544;
  font-weight: 500;
  font-size: 1.1rem;
  width: 30rem;
}
