body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  background-color: black;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100vh;
  font-size: 1.5rem;
}

.border {
  background-color: darkgray;
  border-radius: 10px;
  padding: 2rem;
}

a {
  text-decoration: none;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 100px;
}

input:not([type='radio']) {
  width: 100%;
  padding: 0.5rem 0.5rem;
  border-radius: 12px;
  width: 96%;
}

input[name='certificateType'] {
  transform: scale(1.5);
  margin: 0 0.5rem 1rem 1rem;
}

#name {
  margin: 0 0 2rem 0;
}

#lastname {
  margin: 0 0 2rem 0;
}

.date {
  margin: 2rem 0 2rem 0;
}
select {
  width: 100%;
  padding: 0.3rem 0;
  margin: 0.5rem 0;
  border-radius: 10px;
}

.flex {
  display: flex;
  justify-content: flex-end;
}

a {
  font-weight: bold;
}

.none {
  display: none;
}

.inline-block {
  display: inline-block;
}

/* Login Page */

.flex-center{
  display: flex;
  justify-content: center;
}

.login-container{
  background: #FAFAF5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px;
}
.login-container form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.login-container input{
  width: auto;
}
.login-container div{
  display: flex;
  flex-direction: column;
}

.login-btn{
  background-color: #1a9eda;
  border: 0;
  padding: 16px;
  border-radius: 10px;
  font-size: large;
  color: white;
  cursor: pointer;
}
.login-btn:hover{
  background-color: white;
  color: #1a9eda;
  border: #1a9eda 1px solid;
}

.wrong-login{
  border: red 1px solid;
}